<div class="container theme-showcase" role="main" id="backgroup">
    <div id="jumbo" class="jumbotron">
        <div id="middle">
            <h1>Скопје, <b><u>CO</u></b> присуство!</h1>
            <p><a class="btn btn-lg btn-success" ng-click="go('/heatmap')" role="button">Види</a></p>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Како Работи</h2>
            <p>Пресметките добиени од страна на метеролошките станици низ градов се калкулираат...</p>
            <p><a class="btn btn-default" href="#" role="button">Види Повеќе »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Технологии Користени</h2>
            <p>За развој на прегледот на мапата за загаденост на <u>CO</u> во Скопје користиме повеќе технологии меѓу кои : AngularJS, Spring..</ul>
            </p>
            <p><a class="btn btn-default" href="#" role="button">Види Повеќе »</a></p>
        </div>
        <div class="col-md-4">
            <h2>За Нас</h2>
            <p>Студенти на Факултетот за информатички науки и компјутерско инженерство (ФИНКИ) во рамките на Универзитетот „Св. Кирил и Методиј“ во Скопје (УКИМ)...</p>
            <p><a class="btn btn-default" href="#" role="button">Види Повеќе »</a></p>
        </div>
    </div>
</div>